/* YourComponent.css */
.showcont {
    display: flex;
    flex:2;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(90, 136, 175);
    width: 90vh;
  }
  
  .showcont h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .showcont input[type="text"] {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .showcont button.showcb {
    padding: 8px 12px;
    background-color: #4e504e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .showcont button.showcb:hover {
    background-color: #767876;
  }
  
  /* custome.css */
  .phones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .phones p {
    margin: 5px;
    color: #4e504e;
  }
  
  .phones strong {
    font-weight: bold;
    color: #4e504e;
    margin-bottom: 5px;
  }
  .search-container{
    flex:1;
  }
  
  