body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-color: #3a3a3a; /* Dark grey background color */
    color: white; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #373636; /* Dark grey background color */
    color: white; /* Text color */
    padding: 20px; /* Add space on both sides of the box content */
  }

  .role-container {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Adjust the gap between the boxes */
  }
  
  .role-option {
    border: 2px solid #fcf8f8;
    padding: 20px; /* Adjust the padding to increase the length of the boxes */
    width: 200px; /* Adjust the width to reduce the width of the boxes */
    cursor: pointer;
    
  }
  
  .role-option.selected {
    border-color: #72a7e0;
    border-radius: 20px; /* Change the color to your desired selection highlight color */
  }
  
  .btn {
    margin-top: 20px;
    color: #2e2d2f;          /* Change the text color to your preference */
    padding: 10px 20px;    /* Adjust padding as needed */
    border: none;            /* Remove border if desired */
    border-radius: 5px;       /* Add border-radius for rounded corners */
    cursor: pointer;
    font-weight: bold;
    background-color: #909899;
  }
  /* Add this to your existing CSS */

.role-option {
    display: flex;
    align-items: center;
    border: 2px solid #fcf8f8;
    padding: 20px;
    width: 200px;
    cursor: pointer;
}

.role-option input {
    margin-top:15px;
    margin-right: 60px; /* Adjust the margin to separate the radio button from text */
}

.role-option.selected {
    border-color: #72a7e0;
    border-radius: 20px;
}