.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  background-color: rgb(90, 136, 175);
  padding: 20px;
  border-radius: 15px;
  width: 50vh;
}

.center-container h1 {
  color: black; /* Set text color to black */
}

.role-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.role-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
  color: black; /* Set text color to black */
  border: 2px solid transparent; /* Add transparent border initially */
}

.role-option.selected {
  color: #000000;
  background-color: #0000001f;
  border-color: rgba(0, 0, 0, 0.27); /* Set border color to black when selected */
  border-radius: 15px;
  padding: 15px;
  
}


.role-option input[type="radio"] {
  display: none;
}

.vendorbtn, .customerbtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
}

.vendorbtn:hover, .customerbtn:hover {
  background-color: #082355;
  color: white;

}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 15px;
}

button:hover {
  background-color: #0056b3;
}
.submit {
  padding: 10px 20px;
  border: none;
  background-color: rgb(0, 0, 0); /* Change background color to pink */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 15px;
}

.submit:hover {
  background-color: #082355; /* Change hover background color to a lighter shade of pink */
}

