
h2 {
    color: #fff;
    text-align: center;
    margin-top: 28px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.update {
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 92px;
}

button:hover {
    background-color: #666;
}
.cont {
    background-color: rgb(90, 136, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 400px;
    height: 68vh;
    border-radius: 15px;
}
h2{
    margin-top: -15px;;
}



